

body {
    background-color: #2f3848;
    margin: auto;
    max-width: 500px;
    font-family: 'Raleway', sans-serif;
}

p {
    color: white;
}

h2 {
    color: #0099cc;
}

a {
    color: yellowgreen; /*code couleur  demande*/
}

                            /* header */

h1 {
    color: white;
    font-style: italic;
    font-size: 40px;
    background-color: #f05768; /*code couleur  demande*/
    text-align: center;
    font-weight: 800;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    border-bottom: 3px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 5px;
}
h1 .heart {
    font-size: 1.5em;
}

header li {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

#main-nav {
    padding: 0;
    font-size: 20px;
}

#main-nav li {
    margin-right: 1em;
    font-weight: bold;
}

#main-nav li a {
    text-decoration: none;
}

#social-nav img {
    height: 1.5em;
    margin-left: 1em;
}
  
                    /* présentation **/
#presentation p {
    /* on augmente l'interligne pour la lisibilité */
    line-height: 1.5;
}

                            /* highlight */
#highlight img {
    max-width: 100%;
}

#highlight {
    /* sert de référence pour le positionnement absolu du titre */
    position: relative;
    margin-bottom: 1em;
}

#highlight h2 {
    position: absolute;
    /* par défaut on a top: 0 et left: 0 */
    /*top: 0;
    left: 0;*/
    background-color: #f05768;
    color: white;
    margin: 0;
    padding: 0.5em;
    text-transform: uppercase;
    font-size: 1.2em;
}

                    /* gallery */
   
#gallery{
    display: flex;
}

                    /*fotos**/
#fotos{
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0;
}

#fotos img {
    /* calcul pour la largeur : 25% de l'espace disponible, puis on enlève
    5px pour espacer des autres images*/
    width: calc(25% - 5px);
    margin-bottom: 5px;
    margin-right: 5px;
}

/* on cible une image qui est l'ainée de ses frères et soeurs */
/* #fotos img:first-child {*/
/* plus costaud pour notre cas : on cible la première image */  
#fotos img:first-of-type{
    float: left;
    width: calc(50% - 5px);
    margin-right: 5px;
}



/***nav id****
main-nav
social-nav

/**** section id****
presentation
highlight
 gallery 
fotos






                                /* footer */
footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}
footer p {
    color: #60b9ce;